.tutorails-spacer{
  width: 100%;
}

.tutorails-main{
  width: 100%;
}

.tutorails-header{
  background-color: rgb(152,85,212);
}

.tutorails-content{
  background-color: rgb(215,170,255);
}

.tutorails-content-list{
  background-color: rgb(238,210,255);
}

html {font-size: 1em;}

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

h2 {font-size: 2.827em;}
